{% extends 'base.html' %}
{% block title %}首頁面{% endblock %}

{% block style %}

<style>
    .todo-list {
        background-color: rgb(219, 199, 162);
        margin: 36px auto;
        width: 450px;
        height: 200px;
        border-radius: 12px;
    }

    .date {
        background-color: chocolate;
        color: aliceblue;
    }

    .tex {
        background-color: azure;
        height: 80px;
        border-radius: 6px;
        padding: 6px;
        margin: 12px;

    }
</style>

{% endblock %}

{% block content %}

<h1>
    {% if completed %}
    {{user}} 完成list
    {% else %}
    {{user}} TodoList
    {% endif %}
</h1>
{% for todo in todos %}
<div class="todo-list">
    <p class="date">{{todo.created}}
        {% if todo.date_completed %}
        完成時間:{{todo.date_completed}}
        {% endif %}
    </p>
    <h3 style="color: brown;">
        <a href="{% url 'view_todo' todo.id %}">{{todo.title}}</a>
        {% if todo.important %}
        ☆
        {% endif %}
    </h3>
    <p class="tex">{{todo.text}}</p>
    <a href="{% url 'delete_todo' todo.id %}" style="margin-bottom: 6px;" onclick="return confirmDelete()">刪除</a>
    <a href="{% url 'completed_todo_byid' todo.id %}" style="margin-bottom: 6px;"
        onclick="return confirmCompleted()">完成</a>
</div>
{% endfor %}
{% endblock %}